POSTGRES_DB=sessions_marketplace
POSTGRES_USER=sessions_user
POSTGRES_PASSWORD=SessionPassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=EnS9Ma00cYqq2HiXyAGuZ6R4gh7djWJfaW-vTmCkMRQawiZzHwXgPvCAgXQdD896-vo
DJANGO_DEBUG=False
GOOGLE_CLIENT_ID=Your-Client-ID
GOOGLE_CLIENT_SECRET=Your-SecretKey
JWT_ACCESS_LIFETIME=15
JWT_REFRESH_LIFETIME=7
