Django>=5.1,<5.3
djangorestframework>=3.15,<3.17
djangorestframework-simplejwt>=5.3,<5.6
psycopg[binary]>=3.2,<3.3
django-cors-headers>=4.6,<4.9
google-auth>=2.36,<3
requests>=2.32,<3
gunicorn>=23,<24
